<body ng-app = "slotapp">
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-7 form-box">
						
						<div class="form-bottom">
							<form role="form" action="" method="" class="form-horizontal">

							</form>
							
							<div class="table-title">
								<h3>Add Professor</h3>
							</div>
							<div ng-controller="addprofclr">
								<table class="table-fill">

									<tbody class="table-hover">
										<tr>
											<td class="text-left">Professor Name</td>
											<td class="text-left"><input type="box" ng-model="courseName" name="courseName"></td>
										</tr>
										<tr>
											<td class="text-left">Professor Shortname</td>
											<td class="text-left"><input type="box" ng-model="courseCode" name="courseCode"></td>
										</tr>
										<tr>
											<td></td>
											<td class="text-left"><button ng-click="submit()"> Add </button></td>
										</tr>

									</tbody>
								</table>
							</div>




							








						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>


	<!-- Javascript -->
	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.backstretch.min.js"></script>
	<script src="assets/js/retina-1.1.0.min.js"></script>
	<script src="assets/js/scripts.js"></script>
	<link rel="stylesheet" href="css/style2.css">
	
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
            <![endif]-->

        </body>

        </html>