<body ng-app="slotapp">

    <section> <!--for demo wrap-->

<div ng-controller="autumnclr">
      <div style="display : inline-block; align="center" " >
        <h1>Autumn Semester</h1>
      </div>

      <div class="row-xGrid iso-standard" style="display : inline-block; float : right; margin-right:5%">
        <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click ="createtimetable()">Create Time Table</button>
      </div> 

      <div class="row-xGrid iso-standard" style="display : inline-block; float : right; margin-right:5%">
        <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click ="addautumncourse()">Add Course</button>
      </div>

      <div class="row-xGrid iso-standard" style="display : inline-block; float : right; margin-right:5%">
        <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click="delete()" >Delete Autumn Course</button>
</div>
    

</div>

<div  class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Course Type</th>
      <th>Professor Name</th>
      <th>Year</th>
      <th>Field</th>
    </tr>
  </thead>
</table>
</div>

<div class="tbl-content" ng-controller="autumnclr">
  <table cellpadding="0" cellspacing="0" border="0">
    <tr ng-repeat="x in courseinfo">
        <td>{{x.courseCode}}</td>
        <td>{{x.profShortName}}</td>
        <td>{{x.courseType}}</td>
        <td>{{x.courseName}}</td>
        <td>{{x.year}}</td>
        <td>{{x.field}}</td>
    </tr>
  </table>
</div>

</section>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index3.js"></script> 
    <link rel="stylesheet" href="css/reset3.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style4.css">

  <!--  <script src="js/index2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset2.css">
    <link rel='stylesheet prefetch' href='http://ilt-insightdlp-static.s3.amazonaws.com/css/default.css'>
    <link rel="stylesheet" href="css/style3.css"> -->
    
  </body>

