<body>
  <div>
  	<h1 >Autumn Slot</h1>
  </div>

<div class="tbl-content" ng-controller="slotclr">
        <table>   
          
          <tr>
            <td>Index</td><td>Slot 1</td><td>Slot 2</td><td>Slot 3</td><td>Slot 4</td><td>Slot 5</td><td>Slot 6</td><td>Slot 7</td>
          </tr>
            
          <tr id="row1">
            <td>BTECH1</td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH1.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row2">
            <td>BTECH2</td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH2.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row3">
            <td>BTECH3</td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH3.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row4">
            <td>BTECH4</td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.BTECH4.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row5">
            <td>MTECH1</td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH1.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row6">
            <td>MTECH2</td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MTECH2.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row7">
            <td>MSCIT1</td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT1.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row8">
            <td>MSCIT2</td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCIT2.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row9">
            <td>MSCARD1</td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD1.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row10">
            <td>MSCARD2</td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MSCARD2.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row11">
            <td>MDES1</td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES1.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

          <tr id="row1">
            <td>MDES2</td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot1 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot2 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot3 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot4 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot5 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot6 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
            <td><table><tr ng-repeat="x in slot.MDES2.slot7 track by $index"><td>{{x.courseCode}}</td><td>{{x.courseName}}</td><td>{{x.courseType}}</td><td>{{x.profShortName}}</td></tr></table></td>
          </tr>

        </table>
</div>
   <!--  <script src="js/index2.js"></script> -->
  
   <!--  <link rel="stylesheet" href="css/reset2.css"> -->
     <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='http://ilt-insightdlp-static.s3.amazonaws.com/css/default.css'>
    <link rel="stylesheet" href="css/style3.css"> 

      <style>
        table {
           border: 1px black;
        } 

        table,th,td{
          border: 1px solid grey;
          border-collapse: collapse;
          padding: 5px;
        }
        table tr:nth-child(odd){
          background-color: #f2f2f2; 
        }
        table tr:nth-child(even){
          background-color: #ffffff; 
        }
/*
        .boldtable, .boldtable TD, .boldtable TH { font-family:sans-serif; font-size:20pt; color:black; background-color:navy; }*/
          
      </style>
    
</body>
