<body ng-app="slotapp">
  <div>
  	<h1 >Delete Autumn Course</h1>
  </div>
  <br><br><br>
    
<div class="container row-xGrid-yMiddle" ng-controller="deleteautumncourseclr">
  
  <div>
    <input autofocus="autofocus" id="search" placeholder="Enter CourseCode" ng-model="courseCode" required></input>
  </div>
  
  <div class="row-xGrid iso-standard">
    <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click="delete()" >Delete</button>
  </div>

</div>
    <script src="js/index2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset2.css">
    <link rel='stylesheet prefetch' href='http://ilt-insightdlp-static.s3.amazonaws.com/css/default.css'>
    <link rel="stylesheet" href="css/style3.css">
    
</body>
