<body>
  <div>
  	<h1 >DA-IIT Slot Arrangement Tool</h1>
  </div>

    
<div class="container row-xGrid-yMiddle" ng-controller="homeclr">
  
  <div class="row-xGrid iso-standard">
    <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click="autumn()" >Autumn Course</button>
  </div>

  <div class="row-xGrid iso-standard">
    <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click="winter()">Winter Course</button>
  </div>

  <div class="row-xGrid iso-standard">
      <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click="professor()">Professor Details</button>
  </div>

  <div class="row-xGrid iso-standard">
      <button class="ctrl-standard is-reversed typ-subhed fx-bubbleDown" ng-click="timetable()">Time Table</button>
  </div>
  
</div>
    <script src="js/index2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset2.css">
    <link rel='stylesheet prefetch' href='http://ilt-insightdlp-static.s3.amazonaws.com/css/default.css'>
    <link rel="stylesheet" href="css/style3.css">
    
</body>
