<body ng-app = "slotapp">
	<div ng-controller = "homeclr"> 
       <h2>Course Information</h2>
       <div>
       		<table border="1">
       			<tr>
       				<td>Course Code</td>
       				<td>Prof Name</td>
       				<td>Course Type</td>
       				<td>Year</td>
       				<td>Field</td>
       			</tr>
       			<tr ng-repeat="x in courseinfo">
       				<td>{{x.courseCode}}</td>
       				<td>{{x.profShortName}}</td>
       				<td>{{x.courseType}}</td>
       				<td>{{x.year}}</td>
       				<td>{{x.field}}</td>
       			</tr>
       		</table>
       </div>
      <button ng-click="next()">Next</button>

    </div>
    
    <style>
      table,th,td{
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
      }
      table tr:nth-child(odd){
            background-color: #f2f2f2; 
      }
      table tr:nth-child(even){
            background-color: #ffffff; 
      }
</style>
</body>