// College Timetable
.tab
  %table(cellspacing="0" cellpadding="0" border="0")
    %tr.days
      %th
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
    %tr 
      %td.time 8.00 - 9.00
      %td.SLOT1.blue{"data-tooltip" => "Software Engineering & Software Process"} CS335 [JH1]
      %td.SLOT4.purple{"data-tooltip" => "Computer Graphics"} CS426 [CS1]
      %td
      %td
      %td - 
    %tr 
      %td.time 10.00
      %td
      %td.cs335.blue.lab{"data-tooltip" => "Software Engineering & Software Process"} CS335 [Lab]
      %td.md352.green{"data-tooltip" => "Multimedia Production & Management"} MD352 [Kairos]
      %td
      %td -
    %tr 
      %td.time 11.00
      %td 
      %td.cs335.blue.lab{"data-tooltip" => "Software Engineering & Software Process"} CS335 [Lab]
      %td.md352.green{"data-tooltip" => "Multimedia Production & Management"} MD352 [Kairos]
      %td.cs240.orange{"data-tooltip" => "Operating Systems"} CS240 [CH]
      %td - 
    %tr 
      %td.time 12.00
      %td
      %td.md303.navy{"data-tooltip" => "Media & Globalisation"} MD303 [CS2]
      %td.md313.red{"data-tooltip" => "Special Topic: Multiculturalism & Nationalism"} MD313 [Iontas]
      %td
      %td -
    %tr 
      %td.time 13.00
      %td
      %td
      %td
      %td
      %td -
    %tr 
      %td.time 14.00
      %td
      %td
      %td.cs426.purple{"data-tooltip" => "Computer Graphics"} CS426 [CS2]
      %td.cs240.orange{"data-tooltip" => "Operating Systems"} CS240 [TH1]
      %td  -
    %tr 
      %td.time 15.00
      %td
      %td
      %td
      %td.cs240.orange.lab{"data-tooltip" => "Operating Systems"} CS240 [Lab]
      %td -
    %tr 
      %td.time 16.00
      %td
      %td
      %td
      %td.cs240.orange.lab{"data-tooltip" => "Operating Systems"} CS240 [Lab]
      %td -
    %tr 
      %td.time 17.00
      %td.cs335.blue{"data-tooltip" => "Software Engineering & Software Process"} CS335 [TH1]
      %td
      %td
      %td
      %td -

    